body
{
	margin-left: 1.5em;
	margin-right: 1.5em;
}

h1
{
	text-align: center;
	font-size: 3em;
	font-weight: normal;
	font-family: Zapf Chancery,cursive;
}

h2
{
	font-size: 1.3em;
}

.indented
{
	text-indent: 1.5em;
}